body{
  font-family: Montserrat;
}

.navbar-bg {
  background-color: #edf2ff;
}

.brand,.material-icons {
  font-family: Raleway;
  font-size: 2rem;
  color: #ff406e;
}

h1{
  color: white;
  padding-top: 3rem;
  background: linear-gradient(to left, #ff8754, #ff406e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-left: 2rem;
  padding-bottom: 1rem;
  margin: 0;
}

h2{
  margin-bottom: 3rem;
}

textarea{
  width: 50%;
  height:30%;
}
.container-fluid{
  padding: 0;
}

.main {
  padding-left: 5rem;
  padding-top: 3rem;
}

.submit {
  background: linear-gradient(to left, #ff8754, #ff406e);
  border-style: none;
  color: #edf2ff;
  border-radius: 30px;
  padding: 1rem 2.5rem;
  margin: 3rem 0;
}

.bottom-container {
  height: auto;
  color: #edf2ff;
  background: #283148;
  padding: 5rem 0 7rem 0;
  font-size: 0.9rem;
}

.footer-brand {
  color: #edf2ff;
  padding-left: 2rem;
}


.footer-item {
  text-align: left;
  padding-left: 3rem;
  padding-bottom: 2rem;
}
 .extd {
   padding-top: 2.6rem;
 }

.footer-item-heading {
  color: #ff406e;
  font-size: 1rem;
  font-weight: 400;
}

.icon {
  font-size: 3rem;
  padding: 0 16px;
  color: #ff406e;
}

.icon:hover {
  color: #642f67;
}

.copyright {
  font-size: 0.8rem;
  color: #ff406e;

}
