body{
    background: #f5f0f0;
  font-family: Montserrat,sans-serif;
  overflow-x: hidden;
}

label
{
  width:25%;
  margin: 0;
}
 .navbar{
   background: linear-gradient(to left, #ff8754, #ff406e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-brand{
  font-weight: bold;
  font-size: 1.5rem;
}

.head-container{
  height:680px;
}

.cover-illustration {
  width: 50vw;
  position: absolute;
  left: 5rem;
  top: 5rem;
}

.login-form {
  width: 100%;
  max-width: 500px;
  background: #e1e1e1;
  text-align: center;
  border-radius: 4px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  overflow-y: hidden;
  margin: 0 auto;
  margin-top: 10vw;
}


.input-field {

  width: 65%;
  margin: 1rem 0;
  border-style: none;
  border-radius: 2px;
  padding: 8px;
}

.sub-btn{
  width:65%;
  color: white;
  border-radius: 25px;
  border-style: none;
  background: linear-gradient(to left, #ff8754, #ff406e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin-top: 1rem;
  padding: 0.6rem;
}

.bottom-container {
  height: auto;
  color: #edf2ff;
  background: #283148;
  padding: 5rem 0 7rem 0;
  font-size: 0.9rem;
}

.footer-brand {
  color: #edf2ff;
  padding-left: 2rem;
}


.footer-item {
  text-align: left;
  padding-left: 3rem;
  padding-bottom: 2rem;
}
 .extd {
   padding-top: 2.6rem;
 }

.footer-item-heading {
  color: #ff406e;
  font-size: 1rem;
  font-weight: 400;
}

.icon {
  font-size: 3rem;
  padding: 0 16px;
  color: #ff406e;
}

.icon:hover {
  color: #642f67;
}

.copyright {
  font-size: 0.8rem;
  color: #ff406e;

}
